body {
    display: flex;
    flex-direction: column;
    background-color: rgb(50, 40, 50);
    margin-inline: 40vw;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.input {
    margin-block: .2rem;
    padding: .5rem;
    border-radius: 20px;
}

.swapButton {
    position: absolute;
    right: .5rem;
    top: .5rem;
}