package templates

templ Abilities(abilities []string) {
    <div class={wrapper()}>
        for _, ability := range abilities {
            <div class={abilityStyle()}> {ability} </div>
        }
    </div>
}

css abilityStyle() {
    background-color: black;
    color: white;
}

css wrapper() {
    display: flex;
    align-content: center;
    flex-direction: column;
}
